body{
  background: #f4f5f7;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  .main{
    font-weight: bold;
    font-size: 18px;
    svg{
      margin-top: 20px;
      transform: translateX(100px);
    }
    a{
      text-decoration: none;
      color: red;
    }
    section{
      position: relative;
      z-index: -1 !important;
    }
  }
}

#tooltip {
  background: rgba(0, 0, 0, 0.79);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  transition: 0.2s ease-in-out;
  min-width:180px;
  z-index: 999999999999999999999;
  font-size: 12px !important;
}